.ourCatalogs {
  padding-bottom: var(--padding-12);
}

.title {
  font-family: 'Gilroy-Black', sans-serif;
  font-size: var(--font-size-5);
  line-height: var(--line-height-5);
  margin-bottom: var(--margin-2);
}
