.promo {
  padding: var(--padding-4) 0 var(--padding-4) 0;
  position: relative;
  background: url('/src/assets/promo-cup.png') 87% 90% no-repeat,
    url('/src/assets/promo-coffee.png') 90% 100% no-repeat;
  background-size: 50%;
}

.promoTitle {
  font-family: var(--main-font-black);
  font-size: var(--font-size-3);
  line-height: var(--line-height-3);
  margin-bottom: var(--margin-1);
}

.promoText {
  max-width: var(--width-1);
  margin-bottom: var(--margin-2);
}

.promoTextStrong {
  font-family: var(--main-font-bold);
}
