@import '/src/globalCss.css';

.NavLinksList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: var(--line-height-1);
  column-gap: var(--gap-2);
}

.NavLinksItemLink {
  padding: var(--padding-2);
}

.UserNavigation {
  box-sizing: border-box;
  display: flex;
  column-gap: var(--gap-2);
  align-items: center;
}
