.NavLinksList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 29px;
  column-gap: 100px;
}

.NavLinksItemLink {
  padding: 45px 0;
}

.UserNavigation {
  box-sizing: border-box;
  display: flex;
  column-gap: 53px;
  align-items: center;
}
